@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  /* color type A */
  --line_color : #555555 ;
  --back_color : #000000  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}
.navbar{
  transition: .1s ease;
}
.navbar:hover{
  color: #31A499
}

.button{
  transition:  all .4s ease;
}
.button:hover {
  background-color: #31A499;
  color: #fff;
}

.btn__section{
  margin-left: -17px;
}

.project__name{
  position: absolute;
  top: 125px;
  color: black;
  font-size: 13px;
  background: #fff;
  border-radius: 5px;
  padding: 2px;
}



